.menu__icon {
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: #C38EC7;
    padding: 8px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    .menu__icon {
        top: 20px;
        right: 20px;
    }
}

.menu-close__icon {
    top: 60px;
}

@media screen and (max-width: 530px) {
    .menu-close__icon {
        top: 100px;
    }
}

.menu__nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #C38EC7;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    .menu__nav {
        gap: 20px;
        flex-wrap: wrap;
    }
}

.menu__link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .menu__link {
        font-size: 15px;
    }
}

.menu__link:hover {
    opacity: 0.7;
}

.menu__link_active {
    font-weight: 600;
}
