.footer {
    background-color: rgba(195, 142, 199, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px;
}

.footer__text {
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    .footer__text {
        font-size: 12px;
        text-align: center;
    }
}
